/*
*= require normalize-css
*= require_self
*/

@charset 'utf-8';

// BOURBON & NEAT
@import
  'bourbon',
  'helpers/grid-settings',
  'neat';

// HELPERS
@import
  'helpers/variables',
  'helpers/mixins',
  'components/icons';

// BASE
@import
  'base/global',
  'base/typography',
  'base/navigation',
  'base/footer';

// COMPONENTS
@import
  'components/alerts',
  'components/animate',
  'components/buttons',
  'components/card',
  'components/code',
  'components/dropdown',
  'components/fonts',
  'components/form-layouts',
  'components/meta',
  'components/modal',
  'components/pagination',
  'components/post',
  'components/tags';

// PAGES
@import
  'pages/home/content',
  'pages/home/sidebar',
  'pages/work';

// VENDOR
@import
  'vendor/share-button'
