!!!5
%html{lang: 'en', prefix: 'og: http://ogp.me/ns#'}
  = partial 'layouts/head'

  %body{class: current_page.data.body_class}

    = yield

    = javascript_include_tag :application, 'data-turbolinks-track' => true