footer
  border-top: solid 2px $bg
  text-align: center
  padding-top: 80px
  float: left
  width: 100%

  .logo
    fill: darken($light-gray, 5%)
    margin: auto
    height: 45px

  p
    font-size: $text-small
    padding-top: 15px
    a
      color: $text-color
      &:hover
        color: $dark-gray
      &:after
        content: "•"
        padding: 0 10px
      &:last-child:after
        display: none

  .social
    margin: 0 auto 80px
    padding: 0
    list-style-type: none
    li
      display: inline-block
      a
        float: left
        @include size(26px)
        background: darken($light-gray, 5%) center no-repeat
        +border-radius(50%)
        @include transition(background-color .3s $ease-out-quad)
        margin: 2px

      [class^='icon-'],
      [class*='icon-']
        color: $white
      .twitter
        &:hover
          background-color: $twitter
      .youtube
        &:hover
          background-color: $youtube
      .google-plus
        &:hover
          background-color: $google-plus
      .linkedin
        &:hover
          background-color: $linkedin
      .instagram
        &:hover
          background-color: $instagram
      .github
        &:hover
          background-color: $github
