//
// Icon Font: icons
//

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-blockquote:before,
.icon-glasses:before,
.icon-lab:before,
.icon-link:before,
.icon-logo-facebook:before,
.icon-logo-github:before,
.icon-logo-google-plus:before,
.icon-logo-instagram:before,
.icon-logo-linkedin:before,
.icon-logo-twitter:before,
.icon-logo-youtube:before,
.icon-message:before,
.icon-send:before,
.icon-share:before,
.icon-tag:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-blockquote:before { content: "\f100"; }
.icon-glasses:before { content: "\f101"; }
.icon-lab:before { content: "\f102"; }
.icon-link:before { content: "\f103"; }
.icon-logo-facebook:before { content: "\f104"; }
.icon-logo-github:before { content: "\f105"; }
.icon-logo-google-plus:before { content: "\f106"; }
.icon-logo-instagram:before { content: "\f107"; }
.icon-logo-linkedin:before { content: "\f108"; }
.icon-logo-twitter:before { content: "\f109"; }
.icon-logo-youtube:before { content: "\f10a"; }
.icon-message:before { content: "\f10b"; }
.icon-send:before { content: "\f10c"; }
.icon-share:before { content: "\f10e"; }
.icon-tag:before { content: "\f10d"; }

$font-icons-blockquote: "\f100";
$font-icons-glasses: "\f101";
$font-icons-lab: "\f102";
$font-icons-link: "\f103";
$font-icons-logo-facebook: "\f104";
$font-icons-logo-github: "\f105";
$font-icons-logo-google-plus: "\f106";
$font-icons-logo-instagram: "\f107";
$font-icons-logo-linkedin: "\f108";
$font-icons-logo-twitter: "\f109";
$font-icons-logo-youtube: "\f10a";
$font-icons-message: "\f10b";
$font-icons-send: "\f10c";
$font-icons-share: "\f10e";
$font-icons-tag: "\f10d";
