#home
  height: 100vh
  background: $primary-blue
  background-image: url(image_path('main-bg.svg')), linear-gradient(135deg,$primary-blue 0,darken($primary-blue, 9%) 100%)
  background-size: contain
  .home_wrapper
    padding: 20em 10em
    margin-right: 400px
    @media only screen and (max-width: $large-screen)
      padding: 9em 3em
      margin: 0
    .header,
    .subheader
      @extend .bold
      color: $white
      text-align: left
    .header
      font-size: 3.5em
      .dark
        color: $dark
    .subheader
      font-size: 1.5em
      line-height: 1.5em
      margin-top: 1em
    a
      color: $dark
      &:hover
        @include text-decoration(underline)
