%header
  %h1 About
  .subline Who is this man?
%section.page-content
  .row
    .single-col
      %h3 I am...
      an entrepreneur, self-taught web developer and designer, and... graduated civil engineer who never actually practiced engineering :smile:
      %h3 I love...
      creating beautiful and meaningful things
      %h3 What drives me...
      helping people achieve their goals and dreams
      %h3 I want...
      share my experiences and knowledge, help others who thinks of escaping corporate world and document my journey
      %h3 I created...
      = link_to 'GliderPath TMS', 'https://tms.gliderpath.com/', title: 'GliderPath TMS - translation project management', target: '_blank'
      %br
      = link_to 'GliderPath Academy', 'https://academy.gliderpath.com/', title: 'GliderPath Academy - online learning platform', target: '_blank'
      %hr
      .text-centered
        %h3
          I hope you get a tons of value from this blog and I look forward to hanging out with you and connecting...
        = link_to 'Contact', 'javascript:void(0)', class: 'btn green', data: { trigger: 'modal' }
